# Imports

In [1]:
%%time
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.firefox.options import Options as FirefoxOptions
from selenium.webdriver import FirefoxProfile
import pandas as pd
import xlrd
import os

import warnings
warnings.filterwarnings('ignore')

# Rodar em segundo plano
os.environ['MOZ_HEADLESS'] = '1'

Wall time: 806 ms

# Configurações

In [2]:
%%time
firefox = r'DriversSelenium\geckodriver.exe'
options = FirefoxOptions()
options.add_argument('--incognito')

planilha = r'CrawlerFresteCB_Links.xlsx'

Wall time: 0 ns

# Carrega configurações da pesquisa

In [3]:
links = pd.read_excel(
        open(planilha, 'rb'),
        sheet_name='Links', engine='openpyxl')

ceps = pd.read_excel(
        open(planilha, 'rb'),
        sheet_name='Ceps', engine='openpyxl')


ceps['cep'] = ceps['cep'].astype('str')
ceps['cep'] = ceps['cep'].str.replace('-', '')

qtdSkus = len(links)
qtdCeps = len(ceps)
combinacoes = qtdSkus*qtdCeps

#print(links, '\n\n', ceps, '\n')
print('Qtd skus:', qtdSkus)
print('Qtd ceps:', qtdCeps)
print('Combinações:', combinacoes)

Qtd skus: 40
Qtd ceps: 27
Combinações: 1080

# Recupera URLs dos SKUs

In [4]:
%%time

#links = ['https://www.casasbahia.com.br/1001298751/b', \
#          'https://www.casasbahia.com.br/1001290216/b', \
#          'https://www.casasbahia.com.br/55008110/b']

linksSkus = []
count = 0

for link in links.values:
    #print(link[1])
    try:
        # Abre Browser
        driver = webdriver.Firefox(options=options, executable_path=firefox)
        driver.maximize_window()
        wait = WebDriverWait(driver, 5)

        # Acessa Site Casas Bahia
        driver.get(link[1])

        # Recupera elemento com o link do sku
        linkSite = wait.until(EC.element_to_be_clickable((By.XPATH,\
                        '//*[@id="__next"]/div[2]/div/div/div[3]/div[2]/div/section/ul/li/div/a'))).get_attribute('href')
        
        # Salva numa lista
        linksSkus.append([linkSite, link[0]])
    except:  
        linksSkus.append('erro', link[0])
        driver.quit()
        count = count + 1
        continue
        
        
    driver.quit()
    count = count + 1
    
    #print(count, 'de', qtdSkus, '-----', round((count/qtdSkus)*100, 2), '%')

Wall time: 6min 20s

In [5]:
linksSkus = pd.DataFrame(linksSkus, columns=['link', 'sku'])
linksSkus.link[4]

'https://www.casasbahia.com.br/brinquedos/Jogos/Tabuleiro/jogo-monopoly-hasbro-12838577.html?IdSku=12838577'

# Recupera valores de Frete

In [6]:
%%time

#ceps = ['07718035', '66917140']

result_raspagem = []
count = 0

for link in linksSkus.values:
    url_contexto = link[0]
    count = count + len(ceps) - 1
    for cep in ceps.values:
        try:
            # Abre Browser
            driver = webdriver.Firefox(options=options, executable_path=firefox)
            driver.maximize_window()
            wait = WebDriverWait(driver, 5)

            # Acessa Site Casas Bahia
            driver.get(url_contexto)

            # Digita Frete
            wait.until(EC.element_to_be_clickable((By.ID, 'frete'))).send_keys(cep[0])

            # Captura valor Frete
            valor_frete = wait.until(EC.element_to_be_clickable((By.XPATH,\
                            '/html/body/div[1]/div/div[2]/div[2]/div[2]/div[7]/div/div/div/div[2]/div'))).text

            # Salva numa lista
            result_raspagem.append([link[1], cep[0], valor_frete])
            count = count - 1
        except:  
            result_raspagem.append([link[1], cep[0], 'erro'])
            driver.quit()
            #print(url_contexto, '\n')
            break
        driver.quit()
        
        count = count + 1
        
    print(count, 'de', combinacoes, '-----', round((count/combinacoes)*100, 2), '%')

Wall time: 2h 20min 57s

Execução 2021-12-30 as 02:00:00: 

Wall time: 2h 20min 57s

810 registros

~ 10,37 segundos por registro

In [7]:
len(result_raspagem)

810

# Trata os dados recuperados

In [8]:
df = pd.DataFrame(result_raspagem, columns=['idsku', 'cep', 'raspagem'])
df.to_csv(r'raspagem_bruta_2.csv', sep=';', encoding='utf-8-sig', decimal=',', index=False)
df_copia = df.copy()
df

        idsku       cep                                           raspagem
0    12933988  78058328                                               erro
1    12934041  78058328                                               erro
2    12811170  78058328  Retira Rápido\nRetira na loja a partir de 2h*\...
3    12811170  71916000  Retira Rápido\nRetira na loja a partir de 2h*\...
4    12811170  75053373  Retira Rápido\nRetira na loja a partir de 2h*\...
..        ...       ...                                                ...
805  55008349  30110048  Retira Rápido\nRetira na loja a partir de 2h*\...
806  55008349  29010001  Retira Rápido\nRetira na loja a partir de 2h*\...
807  55008349  87005010  Retira Rápido\nRetira na loja a partir de 2h*\...
808  55008349  96010610  Retira Rápido\nRetira na loja a partir de 2h*\...
809  55008349  89201020  Retira Rápido\nRetira na loja a partir de 2h*\...

[810 rows x 3 columns]

In [10]:
dados_brutos = list(df_copia.raspagem.str.split('Normal\n').str[1].str.split('\n').str[1])
df2 = pd.DataFrame(dados_brutos, columns=['Normal_valor'])

dados_brutos = list(df_copia.raspagem.str.split('Retira Rápido\n').str[1].str.split('\n').str[1])
df2['RetiraRapido_valor'] = dados_brutos

dados_brutos = list(df_copia.raspagem.str.split('Expressa\n').str[1].str.split('\n').str[1])
df2['Expressa_valor'] = dados_brutos

dados_brutos = list(df_copia.raspagem.str.split('Agendada\n').str[1].str.split('\n').str[1])
df2['Agendada_valor'] = dados_brutos

In [11]:
# Remove espacos em branco
df2.Normal_valor = df2.Normal_valor.str.replace(' ', '')
df2.RetiraRapido_valor = df2.RetiraRapido_valor.str.replace(' ', '')
df2.Expressa_valor = df2.Expressa_valor.str.replace(' ', '')
df2.Agendada_valor = df2.Agendada_valor.str.replace(' ', '')

In [12]:
# Atribui zero ao frete gratis
df2.Normal_valor = df2.Normal_valor.str.replace('Grátis', '000')
df2.RetiraRapido_valor = df2.RetiraRapido_valor.str.replace('Grátis', '000')
df2.Expressa_valor = df2.Expressa_valor.str.replace('Grátis', '000')
df2.Agendada_valor = df2.Agendada_valor.str.replace('Grátis', '000')

In [13]:
# Remove o R$
df2.Normal_valor = df2.Normal_valor.str[2:]
df2.RetiraRapido_valor = df2.RetiraRapido_valor.str[2:]
df2.Expressa_valor = df2.Expressa_valor.str[2:]
df2.Agendada_valor = df2.Agendada_valor.str[2:]

In [14]:
# Remove espacos em branco e substitui virgula por ponto
df2.Normal_valor = df2.Normal_valor.str.replace(',','.')
df2.RetiraRapido_valor = df2.RetiraRapido_valor.str.replace(',','.')
df2.Expressa_valor = df2.Expressa_valor.str.replace(',','.')
df2.Agendada_valor = df2.Agendada_valor.str.replace(',','.')

In [15]:
# Adiciona colunas ao df
df['Normal_valor'] = df2.Normal_valor.values
df['RetiraRapido_valor'] = df2.RetiraRapido_valor.values
df['Expressa_valor'] = df2.Expressa_valor.values
df['Agendada_valor'] = df2.Agendada_valor.values

# Transforma tipagem dos dados
df.idsku = df.idsku.astype('int64')
df.cep = df.cep.astype('int64')
df.Normal_valor = df.Normal_valor.astype(float)
df.RetiraRapido_valor = df.RetiraRapido_valor.astype(float)
df.Expressa_valor = df.Expressa_valor.astype(float)
df.Agendada_valor = df.Agendada_valor.astype(float)

# Remove coluna raspagem
df.drop(columns=['raspagem'], inplace=True)

# Base final com Frete Normal Casas Bahia

In [16]:
df.to_csv(r'raspagem_20213012_final_2.csv', sep=';', encoding='utf-8-sig', decimal=',', index=False)
df

,idsku,cep,Normal_valor,RetiraRapido_valor,Expressa_valor,Agendada_valor
0,12933988,78058328,NaN,NaN,NaN,NaN
1,12934041,78058328,NaN,NaN,NaN,NaN
2,12811170,78058328,0.0,0.0,11.96,NaN
3,12811170,71916000,0.0,0.0,12.10,NaN
4,12811170,75053373,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...
805,55008349,30110048,0.0,0.0,NaN,0.0
806,55008349,29010001,0.0,0.0,NaN,NaN
807,55008349,87005010,0.0,0.0,NaN,NaN
808,55008349,96010610,0.0,0.0,NaN,NaN
809,55008349,89201020,0.0,0.0,NaN,NaN

# Validações

In [17]:
df2

    Normal_valor RetiraRapido_valor Expressa_valor Agendada_valor
0            NaN                NaN            NaN            NaN
1            NaN                NaN            NaN            NaN
2              0                  0          11.96            NaN
3              0                  0          12.10            NaN
4              0                  0            NaN            NaN
..           ...                ...            ...            ...
805            0                  0            NaN              0
806            0                  0            NaN            NaN
807            0                  0            NaN            NaN
808            0                  0            NaN            NaN
809            0                  0            NaN            NaN

[810 rows x 4 columns]

In [18]:
colunas = df2.columns
for i in range(len(colunas)):
    print('***', colunas[i], '***')
    print(df2[colunas[i]].value_counts(), '\n\n')

*** Normal_valor ***
0         227
34.90      30
29.90      25
17.99      25
44.90      18
         ...
19.11       1
24.68       1
22.96       1
19.10       1
223.13      1
Name: Normal_valor, Length: 185, dtype: int64


*** RetiraRapido_valor ***
0    474
Name: RetiraRapido_valor, dtype: int64


*** Expressa_valor ***
55.64     11
11.96     10
12.10     10
48.23      4
26.55      3
73.01      3
9.92       2
28.96      2
77.23      1
66.04      1
28.44      1
76.02      1
25.43      1
31.89      1
74.38      1
143.68     1
79.69      1
69.25      1
63.47      1
74.65      1
79.61      1
75.30      1
81.62      1
Name: Expressa_valor, dtype: int64


*** Agendada_valor ***
0        18
4.99      3
19.90     2
22.90     2
3.99      2
22.48     2
16.30     2
44.00     1
44.77     1
35.37     1
37.03     1
Name: Agendada_valor, dtype: int64

In [22]:
# Amostra da raspagem
lista = list(df_copia.raspagem)
lista[:10]

['erro',
 'erro',
 'Retira Rápido\nRetira na loja a partir de 2h*\nGrátis\nNormal\n2 dias úteis\nGrátis\nExpressa\n1 dia útil\nR$ 11,96',
 'Retira Rápido\nRetira na loja a partir de 2h*\nGrátis\nNormal\n1 dia útil\nGrátis\nExpressa\n1 dia útil\nR$ 12,10',
 'Retira Rápido\nRetira na loja a partir de 2h*\nGrátis\nNormal\n2 dias úteis\nGrátis',
 'Retira Rápido\nRetira na loja a partir de 2h*\nGrátis\nNormal\n1 dia útil\nGrátis\nExpressa\n1 dia útil\nR$ 11,96',
 'Retira Rápido\nRetira na loja a partir de 2h*\nGrátis\nNormal\n2 dias úteis\nGrátis\nExpressa\n1 dia útil\nR$ 12,10',
 'Retira Rápido\nRetira na loja a partir de 2h*\nGrátis\nNormal\n2 dias úteis\nGrátis\nExpressa\n1 dia útil\nR$ 11,96',
 'Retira Rápido\nRetira na loja a partir de 2h*\nGrátis\nNormal\n2 dias úteis\nGrátis\nExpressa\n1 dia útil\nR$ 11,96',
 'Retira Rápido\nRetira na loja a partir de 2h*\nGrátis\nNormal\n1 dia útil\nGrátis\nExpressa\n1 dia útil\nR$ 12,10']